/* font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* button style */
.btn{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  background-color: rgba(78, 71, 255, 1);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;

}
.title-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
}
.title-font-disc{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
}

/* Shared Style */
.praimary-color{
    color: rgba(78, 71, 255, 1);
}
.title-color{
    color: rgba(37, 36, 50, 1);
}
/* header section */
.heading-section{
    background-image: url("Assets/Hero-bg.png");
    gap: 158px;
    padding: 0px 0px 200px 0px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.nev-title{
    font-size: 65px;
}
.head-title{
    text-align: center;
    gap: 37px;
    padding: 0 300px;
    margin: 0 150px;
}
/* logo section */
.nav-logo{
    font-size: 34px;
    font-weight: 900;
}
/* action section */
.action{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 120px 170px;
}
.action-title{
    font-size: 42px;
        
}
.action-titlebar{
    gap: 23px;
    margin-right: 550px;
}
.action-disc{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    line-height: 30px;  
}
.action-img{
    border-radius: 48px;
}
/* Users Section */
.user{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 165px 116px;
    padding: 50px 142px;
    border-radius: 24px;
    border: none;
    gap: 10px;
}
.user-title{
    font-size: 38px;
    text-align: center;   
}
.users-section{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.user-num{
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 5px;
}
.user-name{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* footer Section */
footer{
    margin: 0;
}
/* contact */
.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 150px;
    gap: 100px;
}
.touch-left h2{
    font-size: 97px;
    color: #000000;
    line-height: 120%;
    margin: 0px 215px 200px 150px;
    padding-top: 200px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    width: 497px;
    gap: 19px;
    padding-right: 150px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 490px;
}
.contact-form label {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.contact-form input,
.contact-form textarea {
  padding: 20px 32px;
  margin-bottom: 19px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  font-size: 20px;
  resize: none;
}
.contact-form textarea {
  height: 135px;
  color: rgba(0, 0, 0, 0.5);
}
/* Footer Section */
.footer-section{
    background-color: #fff8f8;
    max-width: 1440px;
    height: 428px;
    gap: 30px;
    padding: 118px 455px 0px;
    text-align: center;
    fill: #FFFFFF;
}
.footer-logo{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    font-weight: 900;
    gap: 8px;
    margin: 10px 0px;
}
.footer-description{
    margin: 0px;
    font-size: 16px;
    line-height: 150%;
    color: #8987A1;
}
.footer-nav li a{
    text-decoration: none;
    color: #8987A1;
}
.footer-nav li{
    list-style: none;
    color: #8987A1;
    padding-top: 20px;
}
.footer-nav{
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 0px;
}
