/* font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* button style */
.btn{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  background-color: rgba(78, 71, 255, 1);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;

}
.title-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  
}
.title-font-disc{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
}

/* Shared Style */
.praimary-color{
    color: rgba(78, 71, 255, 1);
}
.title-color{
    color: rgba(37, 36, 50, 1);
}
/* header section */
.heading-section{
    background-image: url("Assets/Hero-bg.png");
    gap: 158px;
    padding: 0px 0px 200px 0px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.nev-title{
    font-size: 65px;
}
.head-title{
    text-align: center;
    gap: 37px;
    padding: 0 300px;
    margin: 0 150px;
}
/* logo section */
.nav-logo{
    font-size: 34px;
    font-weight: 900;
}
/* action section */
.action{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 120px 170px;
}
.action-title{
    font-size: 42px;
        
}
.action-titlebar{
    gap: 23px;
    margin-right: 550px;
}
.action-disc{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    line-height: 30px;  
}
.action-img{
    border-radius: 48px;
}
/* Users Section */
.user{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 165px 116px;
    padding: 50px 142px;
    border-radius: 24px;
    border: none;
    gap: 10px;
}
.user-title{
    font-size: 38px;
    text-align: center;   
}
.users-section{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}
.user-num{
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 5px;
}
.user-name{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}